VITE_DISCOGS_TOKEN="DISCOGSのAPIトークン（現在は不要）"
VITE_GEMINI_ENDPOINT="http://localhost:4200/api/v1/gemini"
VITE_DISCOGS_DATA_ENDPOINT="http://localhost:4200/api/v1/discogsData"
VITE_ACCESS_TOKEN="バックエンドと共通のAPIトークン"